/* Load custom font from assets folder */
@font-face{
    font-family: Chalkboard;
    src: url(/Assets/Fonts/chalkboard_bold.ttf)
}
/* Removes default styling from all elements allowing for more predictable box sizing*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Sets the background of the body element to be tiled version of the logo */
body{
    background-image: url(/Assets/Images/logoTiled.svg);
    background-size: 60px 60px;
    background-repeat: repeat;
}