/* Styles the red bounding box for the login page */
#login{
    display: flex;
    border-radius: 30px;
    background-color: #f50a0a;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    height: fit-content;
    box-shadow: 3px 6px black;
}
/* form holding the input fields for the user as well as the submit button*/
.loginForm{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
/* Styles the logo set as background */
#companyLogo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 85px;
    margin-top: 15px;
    background-image: url(/Assets/Images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Styles the text  disaplying CMS with custom Chalkboard font*/
#loginText{
    color: white;
    font-family: Chalkboard;
    margin-bottom: 25px;
}
/* Styles the username and password input fields to be more round and have spacing between them*/
#Username , #Password{
    font-family: Chalkboard;
    border-radius: 15px;
    border-style: none;
    text-align: center;
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
}
/* Styles the submit button */
#submit {
    margin-top: 20px;
    font-family: Chalkboard;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 50px;
    margin-left: 15%;
    margin-right: 15%;
}