/* Styles the white background behind all action eleemnts set up to auto expand as elements are added*/
#boundBox{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    background-color:white;
    height: fit-content;
}
/* the pseudo navbar display username + accountype the logout button as well as a logo*/
#topBar{
    display: flex;
    flex-direction: row;
    height: 60px;
    width:100%;
    background-color: #f50a0a ;
}
/* Styles the logo on the top bar*/
#logo{
    display: flex;
    align-self: flex-start;
    width: 60px;
    height: 60px;
    margin-top: 5px;
    background-image: url(/Assets/Images/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}
/* Parent div to username and account type used to allow them to be displayed vertically instead of horizontally*/
#details{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 60%;
}
/* Styles the username and account type elements to display in the top bar*/
#name , #accountType{
    display: flex;
    font-family: Chalkboard;
    color: white;
    line-height: 30px;
    margin-right: 10px;
}
/* Styles the logo on the top bar*/
#Logout{
    color: black;
    font-family: Chalkboard;
    text-decoration: none;
    height:40px;
    margin-top: 10px;
    border: 2px solid black;
    line-height: 40px;
    background-color: white;
    margin-left: auto;
    margin-right: 15px;
    width:80px;
    text-align: center;
}
/* Styles the 4 categories of options to appear as menus these will eventually be collapsable with javascript*/
#productManagement , #orderManagement , #customerManagement , #employeeManagement {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Chalkboard;
    background-color: lightgrey;
}
/* Styles the containing div for product sub options*/
#productManagementContent{
    display: flex;
    flex-direction: column;
}
/* Styles product subcategories*/
#addProduct , #removeProduct , #editProduct {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Chalkboard;
}
/* Styles geometry for sample orders*/
.order{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
}
/* Sets size and font of an order*/
.sampleOrder{
    font-family: Chalkboard;
    line-height: 40px;
    margin-left: 10px;
}
/* Creates a complete button which will allow orders to recieve the completed status*/
.complete{
    border-radius: 5px;
    border: 2px solid black;
    background-color: chartreuse;
    font-family: Chalkboard;
    color: white;
    margin-left: auto;
    margin-right: 15px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/* creates a delete button which will allow orders to recieve the deleted status */
.delete{
    border-radius: 5px;
    border: 2px solid black;
    background-color:red;
    font-family: Chalkboard;
    color: white;
    margin-right: 15px;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}
/* Styles the bounding div for search boxes on the page*/
.search{
    display: flex;
    flex-direction: row;
    width: 100%;
}
/* Styles the search input field*/
#search{
    border-radius: 5px;
    height: 30px;
    width: 85%;
    text-align: center;
    font-family: Chalkboard;
}
/* Styles the submit button corresponding to the search input field*/
#submit{
    font-family: Chalkboard;
    width: 15%;
}
/* Parent div to sample customers and orders used to set their geometry and how they appear on the screen*/
#result{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    height: 40px;
}
/* Div simulating an example customer entry*/
.sampleCustomer{
    font-family: Chalkboard;
    line-height: 40px;
    margin-left: 10px;
}
/* works same as delete however margins needed to be adjusted to account for the lack of a second button*/
.delete2{
    border-radius: 5px;
    border: 2px solid black;
    background-color:red;
    font-family: Chalkboard;
    color: white;
    margin-right: 15px;
    margin-left: auto;
    height: 30px;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;

}
/* Styles the employee management sub options*/
#deleteCustomer , #deleteEmployee , #createEmployee{
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-family: Chalkboard;
}
/* Styles the input fields responsible for capturing data in regards to new employee and product creation*/
.employeeCreation , .productCreation{
    width: 100%;
    font-family: Chalkboard;
    text-align: center;
    height: 30px;
}
/* Styles buttons corresponding to new employee and product submission*/
#submitEmployee , #createProduct{
    font-family: Chalboard;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: lightgrey;
    font-family: Chalkboard;
}

